<!-- <h1><%#= flash[:notice] %></h1>

<h2>Reset My Password</h2>

<%#= form_for (:user) do |f| %>
<div class="container">
	<div class=row>

		<div class="col-sm-12">
		<%#= f.label :new_password %>
		<%#= f.password_field :password %>
		</div>

	</div>

	<div class="row">

		<div class="col-sm-12">
		<%#= f.label :confirm_new_password %>
		<%#= f.password_field :confirm_password %>
		</div>

	</div>

<div class="col-sm-8">
<%#= f.submit "Reset My Password"%>
</div>

</div>

<%#end%>

 -->














<h3><%#= flash[:notice]%></h3>
<h2 align="center">Lets Find Your Account</h2>
<div class="container">
<%= form_for (:user) do |f| %>


<div class="row">
<h1 align="center">Reset my Password</h1>

<div class="col-sm-12">
<%= f.label :new_password %> </br>
<%= f.email_field :password, :class=> "email"%>
</div>

<div class="col-sm-12">
<%= f.label :confirm_new_password %> </br>
<%= f.email_field :confirm_password, :class=> "email"%>
</div>


<div class="col-sm-2 offset">
<%= f.submit "Submit"%>
</div>

</div>
</div>
<%end%>

<style type="text/css">

body
{
	background-color: blue;
}
.row
{
	width: auto;
	background-color: white;
	margin-left: 30px;
	padding: 20px;
	margin-top: 100px;
}

.col-sm-12
{
	margin-left: 300px;
}

label
{
	line-height: 20px;
	width: 300px;
	height: 30px;
	margin-top: 40px;
	font-size: 20px;
}
.email
{
	height: 30px;
	width: 500px;
}



</style>